.news-page {
    display: flex;
    flex-direction: column;
}

.news-page-title {
    flex: 1;
    display: flex;
    margin: 30px 0px;
    justify-content: center;
}

.news-page-title h1 {
    color:  #9C27B0;
    font-family: 'Ubuntu', sans-serif;
}

.news-page-image-block {
    flex: 1;
    display: flex;
    justify-content: center;
}

.news-page-image {
    margin: 40px auto;
    max-width: 60%;
    max-height: 25%;
}


.news-page-author-block {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin: 0px 25%;
    font-family: 'Ubuntu', sans-serif;
}

.news-page-content-block {
    flex: 1;
    display: flex;
    justify-content: center;
}

.news-page-content-block {
    text-align: center;
    margin: 0px 20% 50px 20%;
    font-family: 'Ubuntu', sans-serif;
}

.news-rubrics-block {
    flex: 1;
    display: flex;
    justify-content: center;
}

.link-list li {
    display: inline;
    margin-right: 10px;
    font-size: 18px;
}

.news-rubrics-block h3 {
    color:  #9C27B0;
    font-family: 'Ubuntu', sans-serif;
}

.news-tags-block {
    flex: 1;
    display: flex;
    justify-content: center; 
}

.label {
    color: white;
    padding: 8px;
    border-radius: 10px;
}

.info {background-color: #ff9800;}