.news-page {
    display: flex;
    flex-direction: column;
}

.news-page-title {
    flex: 1;
    display: flex;
    margin: 30px 0px;
    justify-content: center;
}

.news-page-title h1 {
    color:  #9C27B0;
}

.news-page-image-block {
    flex: 1;
    display: flex;
    justify-content: center;
}

.news-page-image {
    margin: 40px auto;
    max-width: 60%;
    max-height: 25%;
}


.news-page-author-block {
    flex: 1;
    display: flex;
    justify-content: center;
}

.news-page-content-block {
    flex: 1;
    display: flex;
    justify-content: center;
    /* margin: 10px; */
    /* width: 60%; */
}

.news-page-content-block {
    text-align: center;
}